<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mukta+Malar&display=swap" rel="stylesheet">

</head>
<style>
    body{
        text-align: center;
    }
</style>
<body>
    <div class="conten" style="padding: 3rem 10rem;">
            <img src="../static/img/education.svg" alt="" width="350" height="400">

            <h2>University Admission Predication</h2> <br>
            <a href="/details" class="btn" style="text-decoration: none;">Get Started</a>

    </div>
</body>
</html>